.horizon__scroll {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--spacing-base);
    min-height: 100vh;
    min-height: 100svh;
    background-color: red;
}
.row {
    display: flex;
    gap: var(--spacing-base);
    z-index: 1;
}
.box {
    --dimensions: 20rem;

    width: var(--dimensions);
    height: var(--dimensions);
    margin: 3rem;
    background-color: gray;
    color: aliceblue;
    & h3 {
        padding-left: 2.5rem;
    }
}