.menu {
    
    & .menu__max {
        margin: 0 auto;
        max-width: 100rem;
    }
    background-color: var(--lightwhite);  
    & a {
    padding: var(--minigap); 
       text-decoration: none; 
       color: var(--blue);
       & p {
        font-size: 1rem;
        display: flex;
        justify-content: flex-end;
       }
       & strong {
        font-size: 4rem;
        padding: 0 var(--minigap);
       }
    }
}