.contact {
    background: var(--orange);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    z-index: -5;
    height: 40rem;

    & .contact__block {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--gap);
        position: fixed;
        top: 50%;
        z-index: -3;
        left: 40%;
    }

    .contact--click {
        padding: var(--minigap);
        text-decoration: none;
        color: var(--darkGreen);
        z-index: 1;
        .contact__title {
            color: var(--darkGreen);
            padding: var(--minigap);
            font-family: "Canela-ligt";
            font-size: 2rem;
        }
    }

    .contact--click p {
        background-color: var(--blue);
        color: var(--white);
        padding: 6rem;
        margin: 4rem 2rem;
        border-radius: 50%;
        text-align: center;
        transition: 0.5s all;
    }

    .contact--click:hover p {
        padding: 4rem;
        margin: 4rem;
        transform: rotateZ(10deg);
    }
}