.content--flex {
    display: flex;
    justify-content: space-between;
    
    & .title__rotate {
        position: relative;
       & h3 {
            font-size: 10rem;
            transform: rotate(270deg);
            position: fixed;
        }
    }
}

.flex__block {
    background: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    .flex__block--all {
       
        padding: var(--gap);
        & .flex__block--title {
           font-size: 6.5rem; 
           line-height: 7rem;
        }
        
        
    }
    .flex__blo-r {
        padding: var(--gap);
         width: 21rem;
        :is(h3) {
            line-height: 1.8rem;
            padding: var(--minigap) 0;
        }
    }
}
.flex__block--grean {
    background-color: var(--darkGreen);
    color: var(--lightGreen);
}

.flex__block--white {
    background-color: var(--lightwhite);
    color: var(--blue);
}