.flex__block {
    background: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    .flex__block--all {
        max-width: 21rem;
        padding: var(--gap);
        
    }
    .flex__blo-r {
        padding: var(--gap);
        :is(h3) {
            line-height: 1.8rem;
        }
    }
}
.flex__block--grean {
    background-color: var(--darkGreen);
    color: var(--lightGreen);
}

.flex__block--white {
    background-color: var(--lightwhite);
    color: var(--blue);
}