.content--flex {
    display: flex;
    justify-content: space-between;
    
    & .title__rotate {
       
       & h3 {
            font-size: 10rem;
            transform: rotate(270deg);
            
        }
    }
}

.flex__block {
    background: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    .flex__block--all {
       
        padding: var(--gap);
        & .flex__block--title {
           font-size: 6.5rem; 
           line-height: 7rem;
        }
        
        
    }
    .flex__blo-r {
        padding: var(--gap);
         width: 21rem;
        :is(h3) {
            line-height: 1.8rem;
            padding: var(--minigap) 0;
        }
    }
}
.flex__block--grean {
    background-color: var(--darkGreen);
    color: var(--lightGreen);
}

.flex__block--white {
    background-color: var(--lightwhite);
    color: var(--blue);
}
.fotos {
    background-color: var(--brune);
    color: var(--rose);
    flex-direction: column;
    & .foto {
        padding: var(--gap);
    }
    & h1 {
        font-size: 6rem; 
        padding: var(--gap);
            
        }
    & .foto--L {
        height: 6rem;
        opacity: 0;
        
       
    } 
    
}