@import url('./abstracts/_variables.css');
@import url('./base/_typography.css');
@import url('./reset.css');
@import url('./components/loading.css');

@import url('./layouts/_contact.css');
@import url('./layouts/_section.css');
@import url('./layouts/_team.css');
@import url('./layouts/_container.css');
@import url('./layouts/_horizontalScroll.css');

@import url('./components/_menu.css');
@import url('./components/_cursor.css');
@import url('./components/_card.css');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
