section,
.section {
    position: relative;
    align-items: center;
    /*padding: var(--spacing-base);*/
    min-height: 100vh;
    min-height: 100svh;

    &.section--secondary {
        background-color: var(--blue);
        color: var(--white);
    }

    &.section--fixed  {
        position: fixed;
        width: 100%;
        inset: 0;
        z-index: 1;
        
    }
}.loading {
            height: 100vh;
            min-height: 100svh;
            color: var(--white);
            text-align: center;
            background: var(--blue);
            display: flex;
            top: 0;
            align-items: center;
            left: 50%;
            justify-content: center;
            position: fixed;
            
        }